body{
    background-color: #494b9f;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #FFFFFF
}

h1{
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5em;
}